div {
  max-width: 300px;
}

img {
  width: 100%;
  height: auto;
  padding: 0.1em;
  margin: 0.1em;
}

.card {
  border: 2px solid gray;
  padding: 0.8em;
  margin: 0.5em;
}

.card2 {
  border: 2px solid red;
  padding: 0.3em;
  margin: 0.1em;
}

h3 {
  color: red;
  padding: 0.1em;
  margin: 0.1em;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.interesting {
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  padding: 0.1em;
  margin: 0.1em;
  display: flex;
}

ul {
  list-style-type: none;
  height: auto;
  padding: 0.1em;
  margin: 0.1em;
  text-align: justify;
  flex-wrap: wrap;
  }

li {
    height: auto;
    padding: 0.1em;
    margin: 0.1em;
    text-align: justify;
    flex-wrap: wrap;
  }

  .bold {
      font-weight: bold;
  }

.info {
  font-style: normal;
  font-weight: bold;
  padding: 0.1em;
  margin: 0.1em;
  display: flex;
  text-align: justify;
}
